<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Currency calculator</title>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
    <div style="float: left">
        <table>
            <tr>
                <td>Currency pair</td>
                <td>Exchange rate</td>
            </tr>
            {% for pair in data %}
                <tr>
                    <td> {{ pair.currency_pair }} </td>
                    <td> {{ pair.exchange_rate }} </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div>
        <form action="{% url 'calculate' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Calculate">
        </form>
        <label>Result amount</label>
        <input type="text" name="result_amount" value="{{ result_amount }}">
    </div>
</body>
</html>