<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Currency calculator</title>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
    <table>
        <tr>
            <td>Currency pair</td>
            <td>Exchange rate</td>
        </tr>
        {% for pair in data %}
            <tr>
                <td> {{ pair.currency_pair }} </td>
                <td> {{ pair.exchange_rate }} </td>
            </tr>
        {% endfor %}
    </table>

    <form>
        {% csrf_token %}
        <label>From currency</label>
        <input type="text" id="from" value="">
        <label>To currency</label>
        <input type="text" id="to" value="">
        <label>Amount</label>
        <input type="text" id="amount" value="">
        <input type="button" value="Calculate" onclick="javascript:calculateAmount()">
    </form>
    <label>Result amount</label>
    <input type="text" name="result_amount" value="">
</body>
</html>